<a href="https://colab.research.google.com/github/Parniaahmadi/Health-Sector/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Skills Test- Done by Parnia Ahmadi

In [62]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [81]:
import pandas as pd

Purpose of the steps below is to perform deidentification on all 3 files. A
personal health identifer that identifies a patient is replaced with another unique ID for privacy
purposes.

Read in the CSV files (admissions_surg.csv, admissions_med.csv and imaging.csv)

In [65]:
admissions_surg = pd.read_csv('admissions_surg.csv')
admissions_med = pd.read_csv('admissions_med.csv')
imaging = pd.read_csv('imaging.csv')

print("Admissions - Surgical Department:")
print(admissions_surg.head())

print("Admissions - Medical Department:")
print(admissions_med.head())

print("Imaging Data:")
print(imaging.head())

Admissions - Surgical Department:
     ID ADMISSION.DATE ADMISSION.TIME DISCHARGE.DATE DISCHARGE.TIME  \
0  1068     1998-02-01          07:02     1998-03-31          07:17
1  1125     2010-11-30          04:33     2011-03-25          20:59
2  1127     2015-03-05          09:40     2015-08-28          04:51
3  1363     1987-11-07          21:37     1988-05-10          15:32
4  1388     1997-07-03          03:44     1997-12-27          03:45

        DEPARTMENT GENDER   AGE MAIN.DIAGNOSIS.ICD10  \
0  General Surgery      M   NaN                E0800
1  General Surgery      F  24.0                M0500
2  General Surgery      M  92.0                 O045
3  General Surgery      F  93.0                A6000
4  General Surgery      F  75.0                 K640

                        MAIN.DIAGNOSIS.NAME
0      Diabetes mellitus with complications
1  Rheumatoid arthritis and related disease
2                          Induced abortion
3                           Viral infection
4                               Hemorrhoids
Admissions - Medical Department:
     ID admission_date admission_time discharge_date discharge_time  \
0  1064     1985-10-19          04:27     1986-01-01            NaN
1  1066     1990-06-26          21:06     1990-09-03          21:03
2  1074     1994-06-13          06:36     1994-12-22          07:21
3  1108     2005-03-11          21:54     2005-04-19            NaN
4  1137     1997-06-26          09:49     1997-09-06          21:03

                  department gender   age main_diagnosis_icd10  \
0  General Internal Medicine      M  63.0                 N830
1  General Internal Medicine      F  63.0                 N410
2  General Internal Medicine      F  51.0                 K640
3  General Internal Medicine      F   NaN                C6200
4  General Internal Medicine      M  81.0                 I462

                              main_diagnosis_name
0                                    Ovarian cyst
1  Inflammatory conditions of male genital organs
2                                     Hemorrhoids
3                                Cancer of testis
4     Cardiac arrest and ventricular fibrillation
Imaging Data:
     ID       test_name ordered_date_time performed_date performed_time  \
0  1064              US               NaN     1985-12-17          10:27
1  1064       US PELVIS               NaN     1985-12-02          11:40
2  1066      Abdomen CT               NaN     1990-08-05          12:26
3  1068              US               NaN     1998-03-24          16:15
4  1074  CT neck + head               NaN     1994-11-05          01:36

      technician_name                brief_report
0       Trevon Hopson  No significant abnormality
1        Claire Melko          Indication: normal
2  Ladonna Mcallister          Indication: Normal
3        claire melko          Indication: Normal
4     Lorena Burciaga                      Normal

Compile a list of values from the ID column from both admissions_surg and
admissions_med.

In [66]:
ids_surg = admissions_surg['ID']
ids_med = admissions_med['ID']

combined_ids = pd.concat([ids_surg, ids_med]).unique() # Combine the IDs from both lists and drop duplicates to get unique IDs

print("Combined Unique IDs:")
print(combined_ids)

Combined Unique IDs:
[ 1068  1125  1127 ... 99956 99979 99991]

Create a new object called q1b and assign a unique identifier called DE_ID for every ID in a).

In [67]:

# new DataFrame with unique IDs and their corresponding new DE_ID
q1b = pd.DataFrame({
    'ID': combined_ids,
    'DE_ID': range(1, len(combined_ids) + 1)
})

print(q1b.head(10))

     ID  DE_ID
0  1068      1
1  1125      2
2  1127      3
3  1363      4
4  1388      5
5  1403      6
6  1419      7
7  1435      8
8  1631      9
9  1654     10

In [68]:
# Check to see if the 'DE_ID' column in q1b is unique
is_unique = q1b['DE_ID'].is_unique

if is_unique:
    print("All DE_ID values in q1b are unique.")
else:
    print("There are duplicate DE_ID values in q1b.")

All DE_ID values in q1b are unique.

Using q1b, de-identify the three loaded datasets

In [69]:

def deidentify(df, id_map):
    df_deid = df.merge(id_map, on='ID')
    df_deid.drop('ID', axis=1, inplace=True)
    df_deid.rename(columns={'DE_ID': 'ID'}, inplace=True)
    return df_deid

admissions_surg_deid = deidentify(admissions_surg, q1b)
admissions_med_deid = deidentify(admissions_med, q1b)
imaging_deid = deidentify(imaging, q1b)

print("De-identified Surgical Admissions:")
print(admissions_surg_deid.head())

print("De-identified Medical Admissions:")
print(admissions_med_deid.head())

print("De-identified Imaging Data:")
print(imaging_deid.head())

De-identified Surgical Admissions:
  ADMISSION.DATE ADMISSION.TIME DISCHARGE.DATE DISCHARGE.TIME  \
0     1998-02-01          07:02     1998-03-31          07:17
1     2010-11-30          04:33     2011-03-25          20:59
2     2015-03-05          09:40     2015-08-28          04:51
3     1987-11-07          21:37     1988-05-10          15:32
4     1997-07-03          03:44     1997-12-27          03:45

        DEPARTMENT GENDER   AGE MAIN.DIAGNOSIS.ICD10  \
0  General Surgery      M   NaN                E0800
1  General Surgery      F  24.0                M0500
2  General Surgery      M  92.0                 O045
3  General Surgery      F  93.0                A6000
4  General Surgery      F  75.0                 K640

                        MAIN.DIAGNOSIS.NAME  ID
0      Diabetes mellitus with complications   1
1  Rheumatoid arthritis and related disease   2
2                          Induced abortion   3
3                           Viral infection   4
4                               Hemorrhoids   5
De-identified Medical Admissions:
  admission_date admission_time discharge_date discharge_time  \
0     1985-10-19          04:27     1986-01-01            NaN
1     1990-06-26          21:06     1990-09-03          21:03
2     1994-06-13          06:36     1994-12-22          07:21
3     2005-03-11          21:54     2005-04-19            NaN
4     1997-06-26          09:49     1997-09-06          21:03

                  department gender   age main_diagnosis_icd10  \
0  General Internal Medicine      M  63.0                 N830
1  General Internal Medicine      F  63.0                 N410
2  General Internal Medicine      F  51.0                 K640
3  General Internal Medicine      F   NaN                C6200
4  General Internal Medicine      M  81.0                 I462

                              main_diagnosis_name    ID
0                                    Ovarian cyst  1196
1  Inflammatory conditions of male genital organs  1197
2                                     Hemorrhoids  1198
3                                Cancer of testis  1199
4     Cardiac arrest and ventricular fibrillation  1200
De-identified Imaging Data:
        test_name ordered_date_time performed_date performed_time  \
0              US               NaN     1985-12-17          10:27
1       US PELVIS               NaN     1985-12-02          11:40
2      Abdomen CT               NaN     1990-08-05          12:26
3              US               NaN     1998-03-24          16:15
4  CT neck + head               NaN     1994-11-05          01:36

      technician_name                brief_report    ID
0       Trevon Hopson  No significant abnormality  1196
1        Claire Melko          Indication: normal  1196
2  Ladonna Mcallister          Indication: Normal  1197
3        claire melko          Indication: Normal     1
4     Lorena Burciaga                      Normal  1198

Repated process with different codes for above task (Using q1b, de-identify the three loaded datasets)

In [70]:
admissions_surg1 = admissions_surg.merge(q1b, on='ID').drop(columns=['ID']).rename(columns={'DE_ID': 'ID'})
admissions_med1 = admissions_med.merge(q1b, on='ID').drop(columns=['ID']).rename(columns={'DE_ID': 'ID'})
imaging1 = imaging.merge(q1b, on='ID').drop(columns=['ID']).rename(columns={'DE_ID': 'ID'})


print("De-identified Surgical Admissions:")
print(admissions_surg1.head())

print("De-identified Medical Admissions:")
print(admissions_med1.head())

print("De-identified Imaging Data:")
print(imaging1.head())

De-identified Surgical Admissions:
  ADMISSION.DATE ADMISSION.TIME DISCHARGE.DATE DISCHARGE.TIME  \
0     1998-02-01          07:02     1998-03-31          07:17
1     2010-11-30          04:33     2011-03-25          20:59
2     2015-03-05          09:40     2015-08-28          04:51
3     1987-11-07          21:37     1988-05-10          15:32
4     1997-07-03          03:44     1997-12-27          03:45

        DEPARTMENT GENDER   AGE MAIN.DIAGNOSIS.ICD10  \
0  General Surgery      M   NaN                E0800
1  General Surgery      F  24.0                M0500
2  General Surgery      M  92.0                 O045
3  General Surgery      F  93.0                A6000
4  General Surgery      F  75.0                 K640

                        MAIN.DIAGNOSIS.NAME  ID
0      Diabetes mellitus with complications   1
1  Rheumatoid arthritis and related disease   2
2                          Induced abortion   3
3                           Viral infection   4
4                               Hemorrhoids   5
De-identified Medical Admissions:
  admission_date admission_time discharge_date discharge_time  \
0     1985-10-19          04:27     1986-01-01            NaN
1     1990-06-26          21:06     1990-09-03          21:03
2     1994-06-13          06:36     1994-12-22          07:21
3     2005-03-11          21:54     2005-04-19            NaN
4     1997-06-26          09:49     1997-09-06          21:03

                  department gender   age main_diagnosis_icd10  \
0  General Internal Medicine      M  63.0                 N830
1  General Internal Medicine      F  63.0                 N410
2  General Internal Medicine      F  51.0                 K640
3  General Internal Medicine      F   NaN                C6200
4  General Internal Medicine      M  81.0                 I462

                              main_diagnosis_name    ID
0                                    Ovarian cyst  1196
1  Inflammatory conditions of male genital organs  1197
2                                     Hemorrhoids  1198
3                                Cancer of testis  1199
4     Cardiac arrest and ventricular fibrillation  1200
De-identified Imaging Data:
        test_name ordered_date_time performed_date performed_time  \
0              US               NaN     1985-12-17          10:27
1       US PELVIS               NaN     1985-12-02          11:40
2      Abdomen CT               NaN     1990-08-05          12:26
3              US               NaN     1998-03-24          16:15
4  CT neck + head               NaN     1994-11-05          01:36

      technician_name                brief_report    ID
0       Trevon Hopson  No significant abnormality  1196
1        Claire Melko          Indication: normal  1196
2  Ladonna Mcallister          Indication: Normal  1197
3        claire melko          Indication: Normal     1
4     Lorena Burciaga                      Normal  1198

Create one data frame called admissions_img, consisting of all rows in admissions_surg and
admissions_med, merged with the imaging data using DE_ID (retaining all DE_IDs from both).

In [71]:
admissions_combined = pd.concat([admissions_surg_deid, admissions_med_deid])

admissions_img = admissions_combined.merge(imaging_deid, on='ID', how='outer')

print("admissions_img DataFrame:")
print(admissions_img)

Merged admissions_img DataFrame:
     ADMISSION.DATE ADMISSION.TIME DISCHARGE.DATE DISCHARGE.TIME  \
0        1998-02-01          07:02     1998-03-31          07:17
1        2010-11-30          04:33     2011-03-25          20:59
2        2015-03-05          09:40     2015-08-28          04:51
3        2015-03-05          09:40     2015-08-28          04:51
4        1987-11-07          21:37     1988-05-10          15:32
...             ...            ...            ...            ...
5401            NaN            NaN            NaN            NaN
5402            NaN            NaN            NaN            NaN
5403            NaN            NaN            NaN            NaN
5404            NaN            NaN            NaN            NaN
5405            NaN            NaN            NaN            NaN

           DEPARTMENT GENDER   AGE MAIN.DIAGNOSIS.ICD10  \
0     General Surgery      M   NaN                E0800
1     General Surgery      F  24.0                M0500
2     General Surgery      M  92.0                 O045
3     General Surgery      M  92.0                 O045
4     General Surgery      F  93.0                A6000
...               ...    ...   ...                  ...
5401              NaN    NaN   NaN                  NaN
5402              NaN    NaN   NaN                  NaN
5403              NaN    NaN   NaN                  NaN
5404              NaN    NaN   NaN                  NaN
5405              NaN    NaN   NaN                  NaN

                           MAIN.DIAGNOSIS.NAME    ID  ... gender    age  \
0         Diabetes mellitus with complications     1  ...    NaN    NaN
1     Rheumatoid arthritis and related disease     2  ...    NaN    NaN
2                             Induced abortion     3  ...    NaN    NaN
3                             Induced abortion     3  ...    NaN    NaN
4                              Viral infection     4  ...    NaN    NaN
...                                        ...   ...  ...    ...    ...
5401                                       NaN  3499  ...      M   95.0
5402                                       NaN  3499  ...      M   95.0
5403                                       NaN  3500  ...      F  100.0
5404                                       NaN  3500  ...      F  100.0
5405                                       NaN  3500  ...      F  100.0

     main_diagnosis_icd10               main_diagnosis_name  \
0                     NaN                               NaN
1                     NaN                               NaN
2                     NaN                               NaN
3                     NaN                               NaN
4                     NaN                               NaN
...                   ...                               ...
5401               H40001                          Glaucoma
5402               H40001                          Glaucoma
5403              T424X1A  Poisoning by psychotropic agents
5404              T424X1A  Poisoning by psychotropic agents
5405              T424X1A  Poisoning by psychotropic agents

              test_name ordered_date_time  performed_date performed_time  \
0                    US               NaN      1998-03-24          16:15
1      ct neck and head               NaN      2011-03-12          12:33
2               ct neck               NaN      2015-05-08          03:06
3        RT LEG DOPPLER               NaN      2015-05-21          02:44
4               ct neck               NaN      1988-01-26          11:47
...                 ...               ...             ...            ...
5401         DOPPLER US  2004-10-21 22:49      2004-10-21          23:58
5402   NECK AND HEAD CT  2004-08-16 13:28      2004-08-18          03:19
5403     CT neck + head  2002-09-18 09:50      2002-09-19          20:47
5404     RT LEG DOPPLER  2002-09-20 17:41      2002-09-20          23:25
5405  ABDOMEN/PELVIS US  2002-06-26 03:07      2002-06-26          15:50

         technician_name                      brief_report
0           claire melko                Indication: Normal
1        zach straughter                            Normal
2      mastoora al-kaber                            Cancer
3             marco carr        On visual analysis, normal
4             marco carr        No significant abnormality
...                  ...                               ...
5401       jessenya vega  Probable new diagnosis of cancer
5402          marco carr                            Cancer
5403  ladonna mcallister               Rule out metastases
5404     dashanay langer        No significant abnormality
5405  ladonna mcallister               Rule out metastases

[5406 rows x 25 columns]

In this step , I create a new length_of_stay variable defined as discharge date and time minus
admission date and time (in days).
Then, I calculate the mean length_of_stay for each department.

In [72]:

admissions_img['admission_datetime'] = pd.to_datetime(admissions_img['admission_date'] + ' ' + admissions_img['admission_time'])
admissions_img['discharge_datetime'] = pd.to_datetime(admissions_img['discharge_date'] + ' ' + admissions_img['discharge_time'], errors='coerce')

admissions_img['length_of_stay'] = (admissions_img['discharge_datetime'] - admissions_img['admission_datetime']).dt.total_seconds() / (24 * 3600)

mean_length_of_stay = admissions_img.groupby('department')['length_of_stay'].mean()

print(mean_length_of_stay)

department
Addiction Services           100.623098
General Internal Medicine     99.340352
Oncology                     104.213743
Palliative Care               95.497606
Name: length_of_stay, dtype: float64

In imaging, I  Convert 'performed_date' to datetime, then  I drop the rows with Nat value. After that, I filter to the first performed test for each test_name and I save the resulting data frame as
q4_df. Then, I transform the data into wide format such that each test_name becomes a column
displaying the performed_date of that test.

In [73]:

imaging['performed_date'] = pd.to_datetime(imaging['performed_date'], errors='coerce')

imaging = imaging.dropna(subset=['performed_date'])

imaging_sorted = imaging.sort_values(by=['ID', 'test_name', 'performed_date'])

q4_df = imaging_sorted.groupby(['ID', 'test_name']).first().reset_index()

print(q4_df.head())

Filtered DataFrame (q4_df) with the first performed test for each test_name:
     ID       test_name ordered_date_time performed_date performed_time  \
0  1064              US              None     1985-12-17          10:27
1  1064       US PELVIS              None     1985-12-02          11:40
2  1066      Abdomen CT              None     1990-08-05          12:26
3  1068              US              None     1998-03-24          16:15
4  1074  CT neck + head              None     1994-11-05          01:36

      technician_name                brief_report
0       Trevon Hopson  No significant abnormality
1        Claire Melko          Indication: normal
2  Ladonna Mcallister          Indication: Normal
3        claire melko          Indication: Normal
4     Lorena Burciaga                      Normal

In [87]:
q4_wide = q4_df.pivot(index='ID', columns='test_name', values='performed_date')

print("Wide format table :")
print(q4_wide.head())

from prettytable import PrettyTable
table = PrettyTable()
table.field_names = ["ID"] + list(q4_wide.columns)

for row in q4_wide.reset_index().head(50).itertuples(index=False):
    table.add_row(row)
print(table)

Wide format table :
test_name ABDOMEN/PELVIS US Abdomen CT  CT CT - ABDOMEN CT - Femur  \
ID
1064                    NaT        NaT NaT          NaT        NaT
1066                    NaT 1990-08-05 NaT          NaT        NaT
1068                    NaT        NaT NaT          NaT        NaT
1074                    NaT        NaT NaT          NaT        NaT
1108                    NaT        NaT NaT          NaT        NaT

test_name CT neck + head DOP LEG VEIN DOPPLER US Doppler Ultrasound Head ct  \
ID
1064                 NaT          NaT        NaT                NaT     NaT
1066                 NaT          NaT        NaT                NaT     NaT
1068                 NaT          NaT        NaT                NaT     NaT
1074          1994-11-05          NaT        NaT                NaT     NaT
1108                 NaT          NaT        NaT                NaT     NaT

test_name LT LEG DOPPLER NECK AND HEAD CT RT LEG DOPPLER THORAX/ABDOMEN CT  \
ID
1064                 NaT              NaT            NaT               NaT
1066                 NaT              NaT            NaT               NaT
1068                 NaT              NaT            NaT               NaT
1074                 NaT              NaT            NaT               NaT
1108                 NaT              NaT            NaT               NaT

test_name         US US ABDOMEN  US PELVIS Ultrasound ct neck ct neck and head
ID
1064      1985-12-17        NaT 1985-12-02        NaT     NaT              NaT
1066             NaT        NaT        NaT        NaT     NaT              NaT
1068      1998-03-24        NaT        NaT        NaT     NaT              NaT
1074             NaT        NaT        NaT        NaT     NaT              NaT
1108             NaT        NaT        NaT 2005-04-04     NaT              NaT
+------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------+---------------------+---------------------+---------------------+-------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+
|  ID  |  ABDOMEN/PELVIS US  |      Abdomen CT     |          CT         |     CT - ABDOMEN    |      CT - Femur     |    CT neck + head   |     DOP LEG VEIN    |      DOPPLER US     |  Doppler Ultrasound | Head ct |    LT LEG DOPPLER   |   NECK AND HEAD CT  |    RT LEG DOPPLER   | THORAX/ABDOMEN CT |          US         |      US ABDOMEN     |      US PELVIS      |      Ultrasound     |       ct neck       |   ct neck and head  |
+------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------+---------------------+---------------------+---------------------+-------------------+---------------------+---------------------+---------------------+---------------------+---------------------+---------------------+
| 1064 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 1985-12-17 00:00:00 |         NaT         | 1985-12-02 00:00:00 |         NaT         |         NaT         |         NaT         |
| 1066 |         NaT         | 1990-08-05 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1068 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 1998-03-24 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1074 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1994-11-05 00:00:00 |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1108 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         | 2005-04-04 00:00:00 |         NaT         |         NaT         |
| 1125 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 2011-03-12 00:00:00 |
| 1127 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         | 2015-05-21 00:00:00 |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         | 2015-05-08 00:00:00 |         NaT         |
| 1137 |         NaT         |         NaT         | 1997-08-04 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1194 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   | 1986-10-28 00:00:00 |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1308 |         NaT         |         NaT         | 1986-01-09 00:00:00 | 1985-12-31 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1321 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 2002-11-21 00:00:00 |
| 1339 |         NaT         |         NaT         |         NaT         | 2020-02-17 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 2020-02-16 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1363 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         | 1988-01-26 00:00:00 |         NaT         |
| 1386 |         NaT         | 1994-11-14 00:00:00 | 1994-12-02 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1388 |         NaT         |         NaT         |         NaT         | 1997-07-03 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 1997-11-03 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1419 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1998-08-26 00:00:00 |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1998-10-29 00:00:00 |
| 1435 |         NaT         |         NaT         |         NaT         | 1989-11-06 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         | 1989-11-05 00:00:00 |         NaT         |
| 1492 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1984-03-02 00:00:00 | 1984-02-23 00:00:00 |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1631 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         | 1999-03-22 00:00:00 |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1654 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 2006-11-14 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1729 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 2014-02-18 00:00:00 |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1738 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 1994-04-13 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1818 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   | 2008-08-19 00:00:00 |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1911 |         NaT         |         NaT         |         NaT         | 2002-05-27 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1968 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         | 1997-01-25 00:00:00 |         NaT         |        NaT        | 1997-02-03 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1980 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1988-07-07 00:00:00 |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 1988-07-07 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 1997 | 2008-04-11 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         | 2008-04-10 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |
| 2051 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 2002-09-23 00:00:00 |         NaT         |         NaT         | 2002-08-22 00:00:00 |         NaT         |         NaT         |
| 2108 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         | 2011-11-26 00:00:00 |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 2011-11-29 00:00:00 |
| 2126 |         NaT         |         NaT         | 2000-02-15 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 2000-04-01 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 2142 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1981-11-09 00:00:00 |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 2149 |         NaT         |         NaT         |         NaT         | 2009-12-03 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         | 2010-02-17 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |
| 2153 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 2004-12-08 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 2165 | 1993-04-13 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1993-06-10 00:00:00 |
| 2182 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1985-08-27 00:00:00 |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         | 1985-11-27 00:00:00 |
| 2209 | 2004-03-13 00:00:00 |         NaT         |         NaT         | 2004-03-22 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 2265 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 1989-04-27 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |
| 2331 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |   NaT   |         NaT         |         NaT         |         NaT         |        NaT        | 2012-07-07 00:00:00 |         NaT         |         NaT         |         NaT         |         NaT         |         NaT         |

In this step, from admissions_img, I remove any rows with missing values (NA) in 2 or more variables and name the
resulting data frame q5_df. Then, I report the missing rate (%) in each field from this data frame.

In [31]:
missing_count = admissions_img.isnull().sum()
missing_rate = missing_count / len(admissions_img) * 100

print("Missing values count:")
print(missing_count)
print("Missing rate (%) :")
print(missing_rate.to_markdown())

Missing values count in each column:
ADMISSION.DATE          3548
ADMISSION.TIME          3548
DISCHARGE.DATE          3548
DISCHARGE.TIME          3764
DEPARTMENT              3548
GENDER                  3548
AGE                     3664
MAIN.DIAGNOSIS.ICD10    3548
MAIN.DIAGNOSIS.NAME     3692
ID                         0
admission_date          1858
admission_time          1858
discharge_date          1858
discharge_time          2265
department              1858
gender                  1858
age                     2058
main_diagnosis_icd10    1858
main_diagnosis_name     2147
test_name                406
ordered_date_time       2104
performed_date           406
performed_time           406
technician_name          406
brief_report             406
admission_datetime      1858
discharge_datetime      2265
length_of_stay          2265
dtype: int64
Missing rate (%) in each column:
|                      |        0 |
|:---------------------|---------:|
| ADMISSION.DATE       | 65.6308  |
| ADMISSION.TIME       | 65.6308  |
| DISCHARGE.DATE       | 65.6308  |
| DISCHARGE.TIME       | 69.6263  |
| DEPARTMENT           | 65.6308  |
| GENDER               | 65.6308  |
| AGE                  | 67.7765  |
| MAIN.DIAGNOSIS.ICD10 | 65.6308  |
| MAIN.DIAGNOSIS.NAME  | 68.2945  |
| ID                   |  0       |
| admission_date       | 34.3692  |
| admission_time       | 34.3692  |
| discharge_date       | 34.3692  |
| discharge_time       | 41.8979  |
| department           | 34.3692  |
| gender               | 34.3692  |
| age                  | 38.0688  |
| main_diagnosis_icd10 | 34.3692  |
| main_diagnosis_name  | 39.7151  |
| test_name            |  7.51017 |
| ordered_date_time    | 38.9197  |
| performed_date       |  7.51017 |
| performed_time       |  7.51017 |
| technician_name      |  7.51017 |
| brief_report         |  7.51017 |
| admission_datetime   | 34.3692  |
| discharge_datetime   | 41.8979  |
| length_of_stay       | 41.8979  |

In [75]:


q5_df = admissions_img.dropna(thresh=len(admissions_img.columns) - 1)

missing_rate = q5_df.isnull().mean() * 100
print("Missing rate (%) from q5_df:")
print(missing_rate.to_markdown())

Missing rate (%) in each field from q5_df:
|                      |   0 |
|:---------------------|----:|
| ADMISSION.DATE       | nan |
| ADMISSION.TIME       | nan |
| DISCHARGE.DATE       | nan |
| DISCHARGE.TIME       | nan |
| DEPARTMENT           | nan |
| GENDER               | nan |
| AGE                  | nan |
| MAIN.DIAGNOSIS.ICD10 | nan |
| MAIN.DIAGNOSIS.NAME  | nan |
| ID                   | nan |
| admission_date       | nan |
| admission_time       | nan |
| discharge_date       | nan |
| discharge_time       | nan |
| department           | nan |
| gender               | nan |
| age                  | nan |
| main_diagnosis_icd10 | nan |
| main_diagnosis_name  | nan |
| test_name            | nan |
| ordered_date_time    | nan |
| performed_date       | nan |
| performed_time       | nan |
| technician_name      | nan |
| brief_report         | nan |
| admission_datetime   | nan |
| discharge_datetime   | nan |
| length_of_stay       | nan |

Using the imaging data, I create a frequency table of unique test_name, with decreasing order of
frequency and I name this table img_mapper.
In img_mapper,I  add a column named mapped_test which classifies each unique test_name into 3
categories: "US" (or Ultrasound), "CT" and "Others"
In img_mapper, I add another column named mapped_bodypart, which classifies each unique
test_name into 3 categories, "Neck/Head", "Abdomen/pelvis", "Others". Display the table head.

In [80]:

from tabulate import tabulate

img_mapper = imaging['test_name'].value_counts().reset_index()
img_mapper.columns = ['raw_test_name', 'Frequency']

def map_test_name(test_name):
    test_name_upper = test_name.upper()
    if 'US' in test_name_upper or 'ULTRASOUND' in test_name_upper:
        return 'US'
    elif 'CT' in test_name_upper:
        return 'CT'
    else:
        return 'Others'

def map_bodypart(test_name):
    test_name_upper = test_name.upper()
    if 'NECK' in test_name_upper or 'HEAD' in test_name_upper:
        return 'Neck/Head'
    elif 'ABDOMEN' in test_name_upper or 'PELVIS' in test_name_upper:
        return 'Abdomen/Pelvis'
    else:
        return 'Others'

img_mapper['mapped_test'] = img_mapper['raw_test_name'].apply(map_test_name)
img_mapper['mapped_bodypart'] = img_mapper['raw_test_name'].apply(map_bodypart)

print("Frequency table")
print(tabulate(img_mapper, headers='keys', tablefmt='grid'))

Frequency table with mapped test and bodypart categories:
+----+--------------------+-------------+---------------+-------------------+
|    | raw_test_name      |   Frequency | mapped_test   | mapped_bodypart   |
+====+====================+=============+===============+===================+
|  0 | US                 |         680 | US            | Others            |
+----+--------------------+-------------+---------------+-------------------+
|  1 | CT                 |         511 | CT            | Others            |
+----+--------------------+-------------+---------------+-------------------+
|  2 | Ultrasound         |         441 | US            | Others            |
+----+--------------------+-------------+---------------+-------------------+
|  3 | ct neck and head   |         408 | CT            | Neck/Head         |
+----+--------------------+-------------+---------------+-------------------+
|  4 | US ABDOMEN         |         396 | US            | Abdomen/Pelvis    |
+----+--------------------+-------------+---------------+-------------------+
|  5 | CT neck + head     |         385 | CT            | Neck/Head         |
+----+--------------------+-------------+---------------+-------------------+
|  6 | ABDOMEN/PELVIS US  |         313 | US            | Abdomen/Pelvis    |
+----+--------------------+-------------+---------------+-------------------+
|  7 | CT - ABDOMEN       |         310 | CT            | Abdomen/Pelvis    |
+----+--------------------+-------------+---------------+-------------------+
|  8 | NECK AND HEAD CT   |         248 | CT            | Neck/Head         |
+----+--------------------+-------------+---------------+-------------------+
|  9 | Doppler Ultrasound |         233 | US            | Others            |
+----+--------------------+-------------+---------------+-------------------+
| 10 | Abdomen CT         |         157 | CT            | Abdomen/Pelvis    |
+----+--------------------+-------------+---------------+-------------------+
| 11 | ct neck            |         146 | CT            | Neck/Head         |
+----+--------------------+-------------+---------------+-------------------+
| 12 | RT LEG DOPPLER     |         133 | Others        | Others            |
+----+--------------------+-------------+---------------+-------------------+
| 13 | DOPPLER US         |         115 | US            | Others            |
+----+--------------------+-------------+---------------+-------------------+
| 14 | LT LEG DOPPLER     |         107 | Others        | Others            |
+----+--------------------+-------------+---------------+-------------------+
| 15 | DOP LEG VEIN       |         101 | Others        | Others            |
+----+--------------------+-------------+---------------+-------------------+
| 16 | THORAX/ABDOMEN CT  |         100 | CT            | Abdomen/Pelvis    |
+----+--------------------+-------------+---------------+-------------------+
| 17 | CT - Femur         |          89 | CT            | Others            |
+----+--------------------+-------------+---------------+-------------------+
| 18 | Head ct            |          82 | CT            | Neck/Head         |
+----+--------------------+-------------+---------------+-------------------+
| 19 | US PELVIS          |          45 | US            | Abdomen/Pelvis    |
+----+--------------------+-------------+---------------+-------------------+